# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
*.env
*.venv
env/
venv/

# Ignore distribution and build directories
dist/
build/

# Ignore editor and IDE files
*.swp
*.swo
*.DS_Store
